{% extends 'base.html.twig' %}

{% block title %}Nuevo Examen del torax{% endblock %}

{% block body %}
<div class="container mt-5 d-flex justify-content-center pt-5">
    <div class="card w-50">
        <div class="card-header text-center">
            <h2>Nuevo examen del torax</h2>
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group mt-3">
                        {{ form_label(form.inspeccion, 'Inspección', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.inspeccion, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.inspeccion) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.palpacion, 'Palpación', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.palpacion, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.palpacion) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.percusion, 'Percusión', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.percusion, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.percusion) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.ausculta, 'Ausculta', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.ausculta, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.ausculta) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-center mt-4 mb-3">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary mx-3">Guardar</button>
                    <a href="{{ path('paciente_ver', {'id': paciente.id}) }}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
