<div class="accordion-item">
    <h2 class="accordion-header" id="headingCostumbres">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCostumbres" aria-expanded="true" aria-controls="collapseCostumbres">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 256 256" xml:space="preserve">
                <defs></defs>
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                    <path d="M 51.199 60.513 H 38.802 c -1.104 0 -2 -0.896 -2 -2 V 25.676 c 0 -1.104 0.896 -2 2 -2 h 12.398 c 1.104 0 2 0.895 2 2 v 32.837 C 53.199 59.618 52.304 60.513 51.199 60.513 z M 40.802 56.513 h 8.398 V 27.676 h -8.398 V 56.513 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0)" stroke-linecap="round"></path>
                    <path d="M 45.767 19.974 c -5.352 0 -9.707 -4.355 -9.707 -9.707 s 4.355 -9.707 9.707 -9.707 s 9.708 4.355 9.708 9.707 S 51.119 19.974 45.767 19.974 z M 45.767 4.559 c -3.147 0 -5.707 2.561 -5.707 5.707 s 2.561 5.707 5.707 5.707 c 3.147 0 5.708 -2.561 5.708 -5.707 S 48.914 4.559 45.767 4.559 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0)" stroke-linecap="round"></path>
                    <path d="M 61.134 90 c -0.835 0 -1.614 -0.527 -1.895 -1.362 l -9.934 -29.486 c -0.353 -1.047 0.21 -2.182 1.257 -2.534 c 1.047 -0.352 2.181 0.21 2.534 1.257 l 9.934 29.486 c 0.353 1.047 -0.21 2.182 -1.257 2.534 C 61.561 89.966 61.346 90 61.134 90 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0)" stroke-linecap="round"></path>
                    <path d="M 28.867 90 c -0.211 0 -0.427 -0.034 -0.639 -0.105 c -1.047 -0.353 -1.609 -1.487 -1.257 -2.534 l 9.935 -29.486 c 0.353 -1.047 1.484 -1.608 2.534 -1.257 c 1.047 0.353 1.609 1.487 1.257 2.534 l -9.935 29.486 C 30.48 89.473 29.702 90 28.867 90 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0)" stroke-linecap="round"></path>
                    <path d="M 38.802 27.676 c -11.287 0 -20.469 -9.182 -20.469 -20.469 c 0 -1.104 0.895 -2 2 -2 c 1.104 0 2 0.895 2 2 c 0 9.081 7.388 16.469 16.469 16.469 c 1.104 0 2 0.895 2 2 S 39.906 27.676 38.802 27.676 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0)" stroke-linecap="round"></path>
                    <path d="M 27.806 9.208 H 12.859 c -1.104 0 -2 -0.895 -2 -2 s 0.895 -2 2 -2 h 14.947 c 1.104 0 2 0.895 2 2 S 28.911 9.208 27.806 9.208 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0)" stroke-linecap="round"></path>
                    <path d="M 12.859 14.381 c -1.104 0 -2 -0.895 -2 -2 V 2.035 c 0 -1.104 0.895 -2 2 -2 s 2 0.895 2 2 v 10.346 C 14.859 13.485 13.964 14.381 12.859 14.381 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0)" stroke-linecap="round"></path>
                    <path d="M 27.806 14.381 c -1.104 0 -2 -0.895 -2 -2 V 2.035 c 0 -1.104 0.895 -2 2 -2 s 2 0.895 2 2 v 10.346 C 29.806 13.485 28.911 14.381 27.806 14.381 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0)" stroke-linecap="round"></path>
                    <path d="M 51.199 27.642 c -1.104 0 -2 -0.895 -2 -2 s 0.896 -2 2 -2 c 9.081 0 16.469 -7.388 16.469 -16.469 c 0 -1.104 0.895 -2 2 -2 c 1.104 0 2 0.895 2 2 C 71.668 18.459 62.485 27.642 51.199 27.642 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0)" stroke-linecap="round"></path>
                    <path d="M 77.141 9.173 H 62.194 c -1.104 0 -2 -0.895 -2 -2 s 0.895 -2 2 -2 h 14.946 c 1.104 0 2 0.895 2 2 S 78.245 9.173 77.141 9.173 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0)" stroke-linecap="round"></path>
                    <path d="M 62.194 14.346 c -1.104 0 -2 -0.895 -2 -2 V 2 c 0 -1.104 0.895 -2 2 -2 s 2 0.895 2 2 v 10.346 C 64.194 13.451 63.299 14.346 62.194 14.346 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0)" stroke-linecap="round"></path>
                    <path d="M 77.141 14.346 c -1.104 0 -2 -0.895 -2 -2 V 2 c 0 -1.104 0.896 -2 2 -2 c 1.104 0 2 0.895 2 2 v 10.346 C 79.14 13.451 78.245 14.346 77.141 14.346 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0)" stroke-linecap="round"></path>
                </g>
            </svg>
            <strong class="mx-2">Costumbres</strong>
        </button>
    </h2>
    <div id="collapseCostumbres" class="accordion-collapse collapse" aria-labelledby="headingCostumbres" data-bs-parent="#accordionExample">
        <div class="accordion-body">
         {% if data.costumbres is empty %}
                <a href="{{ path('costumbres_new', {'id': paciente.id}) }}" class="btn btn-primary">Añadir Costumbre</a>
            {% else %}
                <a href="{{ path('costumbres_edit', {'id': paciente.id}) }}" class="btn btn-primary">Editar Costumbre</a>
            {% endif %}
            {% if data.costumbres is empty %}
                <p>Sin datos</p>
            {% else %}
                <table class="table table-striped">
                    <thead class="text-center">
                        <tr>
                            <th>Fumante</th>
                            <th>Frecuencia Fuma (cigarrillos/día)</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for costumbre in data.costumbres %}
                            <tr>
                                <td>{{ costumbre.fumante ? 'Sí' : 'No' }}</td>
                                <td>{{ costumbre.frecuenciaFuma }}</td>
                            </tr>
                            <tr>
                                <th>Edad Empezó a Fumar</th>
                                <th>Consumo de Alcohol</th>
                            </tr>
                            <tr>
                                <td>{{ costumbre.edadEmpezoFumar }}</td>
                                <td>{{ costumbre.consumoAlcohol ? 'Sí' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>Frecuencia Consumo Alcohol (veces/semana)</th>
                                <th>Edad Empezó a Beber</th>
                            </tr>
                            <tr>
                                <td>{{ costumbre.frecuenciaConsumoAlcohol }}</td>
                                <td>{{ costumbre.edadEmpezoBeber }}</td>
                            </tr>
                            <tr>
                                <th>Otras Drogas</th>
                                <th>Tipo de Drogas</th>
                            </tr>
                            <tr>
                                <td>{{ costumbre.otrasDrogas ? 'Sí' : 'No' }}</td>
                                <td>{{ costumbre.tipoDrogas }}</td>
                            </tr>
                            <tr>
                                <th>Frecuencia</th>
                                <th>Edad Empezó a Usar</th>
                            </tr>
                            <tr>
                                <td>{{ costumbre.frecuencia }}</td>
                                <td>{{ costumbre.edadEmpezoUsar }}</td>
                            </tr>
                            <tr>
                                <th>Actividad Física</th>
                                <th>Tipo de Actividad Física</th>
                            </tr>
                            <tr>
                                <td>{{ costumbre.actividadFisica ? 'Sí' : 'No' }}</td>
                                <td>{{ costumbre.tipoActividadFisica }}</td>
                            </tr>
                            <tr>
                                <th>Duración de la Actividad Física</th>
                                <th>Frecuencia de la Actividad Física</th>
                            </tr>
                            <tr>
                                <td>{{ costumbre.duracionActividadFisica }}</td>
                                <td>{{ costumbre.frecuenciaActividadFisica }}</td>
                            </tr>
                            <tr>
                                <th>Actividad Sexual</th>
                                <th>Edad Primera Relación Sexual</th>
                            </tr>
                            <tr>
                                <td>{{ costumbre.actividadSexual ? 'Sí' : 'No' }}</td>
                                <td>{{ costumbre.edadPrimeraRelacionSexual }}</td>
                            </tr>
                            <tr>
                                <th>Frecuencia de la Actividad Sexual</th>
                                <th>Uso de Preservativo</th>
                            </tr>
                            <tr>
                                <td>{{ costumbre.frecuenciaActividadSexual }}</td>
                                <td>{{ costumbre.usoPreservativo ? 'Sí' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>Parejas Sexuales Actual</th>
                                <th>Higiene Íntima</th>
                            </tr>
                            <tr>
                                <td>{{ costumbre.parejasSexualesActual }}</td>
                                <td>{{ costumbre.higieneIntima ? 'Sí' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th colspan="2">Método de Higiene Íntima</th>
                            </tr>
                            <tr>
                                <td colspan="2">{{ costumbre.metodoHigieneIntima }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
           
        </div>
    </div>
</div>
