<div class="accordion-item">
    <h2 class="accordion-header" id="headingExamenAbdomen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExamenAbdomen" aria-expanded="true" aria-controls="collapseExamenAbdomen">
          <strong>  Examen Abdomen </strong>
        </button>
    </h2>
    <div id="collapseExamenAbdomen" class="accordion-collapse collapse" aria-labelledby="headingExamenAbdomen" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            {% if data.examen_abdomen is empty %}
                <p>Sin datos</p>
            {% else %}
                <ul>
                    {% for examen in data.examen_abdomen %}
                        <li>Inspecci칩n: {{ examen.inspeccion }}, Palpaci칩n: {{ examen.palpacion }}, Percusi칩n: {{ examen.percusion }}, Ausculta: {{ examen.ausculta }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="{{ path('examen_abdomen_new', {'id': paciente.id}) }}" class="btn btn-primary">A침adir Examen de Abdomen</a>
        </div>
    </div>
</div>
