<div class="accordion-item">
    <h2 class="accordion-header" id="headingExamenCabeza">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExamenCabeza" aria-expanded="true" aria-controls="collapseExamenCabeza">
           <strong> Examen Cabeza </strong>
        </button>
    </h2>
    <div id="collapseExamenCabeza" class="accordion-collapse collapse" aria-labelledby="headingExamenCabeza" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            {% if data.examen_cabeza is empty %}
                <p>Sin datos</p>
            {% else %}
                <ul>
                    {% for examen in data.examen_cabeza %}
                        <li>Inspecci칩n: {{ examen.inspeccion }}, Palpaci칩n: {{ examen.palpacion }}, Percusi칩n: {{ examen.percusion }}, Ausculta: {{ examen.ausculta }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="{{ path('examen_cabeza_new', {'id': paciente.id}) }}" class="btn btn-primary">A침adir Examen de Cabeza</a>
        </div>
    </div>
</div>
