<div class="accordion-item">
    <h2 class="accordion-header" id="headingExamenMiembrosInferiores">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExamenMiembrosInferiores" aria-expanded="true" aria-controls="collapseExamenMiembrosInferiores">
            Examen Miembros Inferiores
        </button>
    </h2>
    <div id="collapseExamenMiembrosInferiores" class="accordion-collapse collapse show" aria-labelledby="headingExamenMiembrosInferiores" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            {% if data.examen_miembros_inferiores is empty %}
                <p>Sin datos</p>
            {% else %}
                <ul>
                    {% for examen in data.examen_miembros_inferiores %}
                        <li>Inspecci칩n: {{ examen.inspeccion }}, Palpaci칩n: {{ examen.palpacion }}, Percusi칩n: {{ examen.percusion }}, Ausculta: {{ examen.ausculta }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="{{ path('examen_miembros_inferiores_new', {'id': paciente.id}) }}" class="btn btn-primary">A침adir Examen de Miembros Inferiores</a>
        </div>
    </div>
</div>
