<div class="accordion-item">
    <h2 class="accordion-header" id="headingMedicamentos">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMedicamentos" aria-expanded="true" aria-controls="collapseMedicamentos">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256">
                <path d="M216.42,39.6a53.26,53.26,0,0,0-75.32,0L39.6,141.09a53.26,53.26,0,0,0,75.32,75.31h0L216.43,114.91A53.31,53.31,0,0,0,216.42,39.6ZM103.61,205.09h0a37.26,37.26,0,0,1-52.7-52.69L96,107.31,148.7,160ZM205.11,103.6,160,148.69,107.32,96l45.1-45.09a37.26,37.26,0,0,1,52.69,52.69ZM189.68,82.34a8,8,0,0,1,0,11.32l-24,24a8,8,0,1,1-11.31-11.32l24-24A8,8,0,0,1,189.68,82.34Z"></path>
            </svg>
            <strong class="mx-2">Medicamentos en Uso</strong>
        </button>
    </h2>
    <div id="collapseMedicamentos" class="accordion-collapse collapse" aria-labelledby="headingMedicamentos" data-bs-parent="#accordionExample">
        <div class="accordion-body">

                <a href="{{ path('medicamentos_new', {'id': paciente.id}) }}" class="btn btn-primary">Añadir Medicamento</a>

            {% if data.medicamentos is empty %}
                <p>Sin datos</p>
            {% else %}
            
                <table class="table table-striped">
                    <thead class="text-center">
                        <tr>
                            <th>Nombre</th>
                            <th>Posología</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for medicamento in data.medicamentos %}
                            <tr>
                                <td>{{ medicamento.nombre }}</td>
                                <td>{{ medicamento.posologia }}</td>
                            </tr>
                            <tr>
                                <th>Duración del Tratamiento</th>
                                <th>Frecuencia</th>
                            </tr>
                            <tr>
                                <td>{{ medicamento.duracionTratamiento }}</td>
                                <td>{{ medicamento.frecuencia }}</td>
                            </tr>
                            <tr>
                                <th>Aplicación</th>
                                <th>Prescripción Médica</th>
                            </tr>
                            <tr>
                                <td>{{ medicamento.aplicacion }}</td>
                                <td>{{ medicamento.prescripcionMedica ? 'Sí' : 'No' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
</div>
