<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSignosVitales">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSignosVitales" aria-expanded="true" aria-controls="collapseSignosVitales">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256"><path d="M72,144H32a8,8,0,0,1,0-16H67.72l13.62-20.44a8,8,0,0,1,13.32,0l25.34,38,9.34-14A8,8,0,0,1,136,128h24a8,8,0,0,1,0,16H140.28l-13.62,20.44a8,8,0,0,1-13.32,0L88,126.42l-9.34,14A8,8,0,0,1,72,144ZM178,40c-20.65,0-38.73,8.88-50,23.89C116.73,48.88,98.65,40,78,40a62.07,62.07,0,0,0-62,62c0,.75,0,1.5,0,2.25a8,8,0,1,0,16-.5c0-.58,0-1.17,0-1.75A46.06,46.06,0,0,1,78,56c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46c0,53.61-77.76,102.15-96,112.8-10.83-6.31-42.63-26-66.68-52.21a8,8,0,1,0-11.8,10.82c31.17,34,72.93,56.68,74.69,57.63a8,8,0,0,0,7.58,0C136.21,228.66,240,172,240,102A62.07,62.07,0,0,0,178,40Z"></path></svg>
               <strong class="mx-2"> Signos Vitales </strong>
            </button>
        </h2>
        <div id="collapseSignosVitales" class="accordion-collapse collapse" aria-labelledby="headingSignosVitales" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <a href="{{ path('signos_vitales_new', {'id': paciente.id}) }}" class="btn btn-primary">Añadir signos vitales</a>
                {% if data.signos_vitales is empty %}
                    <p>Sin datos</p>
                {% else %}
                <table class="table table-striped">
                        <thead class="text-center">
                            <tr>
                                <th>Fecha</th>
                                <th>Altura (cm)</th>
                                <th>Peso (kg)</th>
                                <th>IMC (kg/m²)</th>
                                <th>Temperatura (°C)</th>
                                <th>FR</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            {% for signo in data.signos_vitales %}
                                <tr>
                                    <td>{{ signo.creadoEn|date('d-m-Y') }}</td>
                                    <td>{{ signo.altura }}</td>
                                    <td>{{ signo.peso }}</td>
                                    <td>{{ signo.masaCorporal|number_format(2) }}</td>
                                    <td>{{ signo.temperatura }}</td>
                                    <td>{{ signo.frecuenciaRespiratoria }}</td>
                                </tr>
                                <tr>
                                    <th>Sístole</th>
                                    <th>Diástole</th>
                                    <th>FC</th>
                                    <th>Grasa Corporal (%)</th>
                                    <th>Masa Corporal Magra (%)</th>
                                    <th>SO (%)</th>
                                </tr>
                                <tr>
                                    <td>{{ signo.sistole }}</td>
                                    <td>{{ signo.diastole }}</td>
                                    <td>{{ signo.frecuenciaCardiaca }}</td>
                                    <td>{{ signo.porcentajeGrasaCorporal ? signo.porcentajeGrasaCorporal : 'N/A'}}</td>
                                    <td>{{ signo.masaCorporalMagra ? signo.masaCorporalMagra : 'N/A' }}</td>
                                    <td>{{ signo.saturacionOxigeno }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>