{% extends 'base.html.twig' %}

{% block title %}Editar Clasificación Sanguínea{% endblock %}

{% block body %}
<div class="container mt-5 d-flex justify-content-center pt-5">
    <div class="card w-75">
        <div class="card-header text-center">
            <h2>Editar Clasificación Sanguínea</h2>
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            <div class="form-group mt-3">
                {{ form_label(form.tipo, 'Tipo', {'label_attr': {'class': 'control-label'}}) }}
                <div class="col-sm-12">
                    {{ form_widget(form.tipo, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.tipo) }}
                </div>
            </div>

            <div class="form-group mt-3">
                {{ form_label(form.rh, 'Rh', {'label_attr': {'class': 'control-label'}}) }}
                <div class="col-sm-12">
                    {{ form_widget(form.rh, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.rh) }}
                </div>
            </div>

            <div class="form-group mt-3">
                {{ form_label(form.donante, 'Donante', {'label_attr': {'class': 'control-label'}}) }}
                <div class="col-sm-12">
                    {{ form_widget(form.donante, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.donante) }}
                </div>
            </div>

            <div class="form-group mt-3">
                {{ form_label(form.descripcion, 'Descripción (que dona: sangre, medula, plaquetas)', {'label_attr': {'class': 'control-label'}}) }}
                <div class="col-sm-12">
                    {{ form_widget(form.descripcion, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.descripcion) }}
                </div>
            </div>

            <div class="form-group mt-3">
                {{ form_label(form.ultimaDonacion, 'Última Donación', {'label_attr': {'class': 'control-label'}}) }}
                <div class="col-sm-12">
                    {{ form_widget(form.ultimaDonacion, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.ultimaDonacion) }}
                </div>
            </div>

            <div class="form-group mt-3">
                {{ form_label(form.frecuencia, 'Frecuencia', {'label_attr': {'class': 'control-label'}}) }}
                <div class="col-sm-12">
                    {{ form_widget(form.frecuencia, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.frecuencia) }}
                </div>
            </div>

            <div class="form-group text-center mt-4 mb-3">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary mx-3">Guardar</button>
                    <a href="{{ path('paciente_ver', {'id': paciente.id}) }}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
