{% extends 'base.html.twig' %}

{% block title %}Nuevas Costumbres{% endblock %}

{% block body %}
<div class="container mt-5 d-flex justify-content-center pt-5">
    <div class="card w-75">
        <div class="card-header text-center">
            <h2>Nuevos costumbres</h2>
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mt-3">
                        {{ form_label(form.fumante, 'Fumante', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.fumante, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.fumante) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.frecuenciaFuma, 'Frecuencia fuma (cigarrillos/día)', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.frecuenciaFuma, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.frecuenciaFuma) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.edadEmpezoFumar, 'Edad empezó a fumar', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.edadEmpezoFumar, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.edadEmpezoFumar) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.consumoAlcohol, 'Consumo de alcohol', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.consumoAlcohol, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.consumoAlcohol) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.frecuenciaConsumoAlcohol, 'Frecuencia consumo alcohol (veces/semana)', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.frecuenciaConsumoAlcohol, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.frecuenciaConsumoAlcohol) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.edadEmpezoBeber, 'Edad empezó a beber', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.edadEmpezoBeber, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.edadEmpezoBeber) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.otrasDrogas, 'Otras drogas', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.otrasDrogas, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.otrasDrogas) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.tipoDrogas, 'Tipo de drogas', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.tipoDrogas, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.tipoDrogas) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.frecuencia, 'Frecuencia uso drogas', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.frecuencia, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.frecuencia) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.edadEmpezoUsar, 'Edad empezó a usar drogas', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.edadEmpezoUsar, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.edadEmpezoUsar) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mt-3">
                        {{ form_label(form.actividadFisica, 'Actividad física', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.actividadFisica, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.actividadFisica) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.tipoActividadFisica, 'Tipo de actividad física', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.tipoActividadFisica, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.tipoActividadFisica) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.duracionActividadFisica, 'Duración de la actividad física (h/días)', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.duracionActividadFisica, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.duracionActividadFisica) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.frecuenciaActividadFisica, 'Frecuencia de la actividad física', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.frecuenciaActividadFisica, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.frecuenciaActividadFisica) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.actividadSexual, 'Actividad sexual', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.actividadSexual, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.actividadSexual) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.edadPrimeraRelacionSexual, 'Edad primera relación sexual', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.edadPrimeraRelacionSexual, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.edadPrimeraRelacionSexual) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.frecuenciaActividadSexual, 'Frecuencia de la actividad sexual', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.frecuenciaActividadSexual, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.frecuenciaActividadSexual) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.usoPreservativo, 'Uso de oreservativo', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.usoPreservativo, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.usoPreservativo) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.parejasSexualesActual, 'Parejas sexuales actual (cantidad)', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.parejasSexualesActual, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.parejasSexualesActual) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.higieneIntima, 'Higiene íntima', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.higieneIntima, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.higieneIntima) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.metodoHigieneIntima, 'Método de higiene íntima', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.metodoHigieneIntima, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.metodoHigieneIntima) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-center mt-4 mb-3">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary mx-3">Guardar</button>
                    <a href="{{ path('paciente_ver', {'id': paciente.id}) }}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
