{% extends 'base.html.twig' %}

{% block title %}Nuevo Histórico Obstétrico y Ginecológico{% endblock %}

{% block body %}
<div class="container mt-5 d-flex justify-content-center pt-5">
    <div class="card w-50">
        <div class="card-header text-center">
            <h2>Nuevo Histórico Obstétrico y Ginecológico</h2>
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mt-3">
                        {{ form_label(form.edadPrimeraRegla, 'Edad Primera Regla', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.edadPrimeraRegla, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.edadPrimeraRegla) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.edadUltimaRegla, 'Edad Última Regla', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.edadUltimaRegla, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.edadUltimaRegla) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.duracionRegla, 'Duración Regla (días)', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.duracionRegla, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.duracionRegla) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.cicloRegular, 'Ciclo Regular', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            <div class="form-check">
                                {{ form_widget(form.cicloRegular.0, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.cicloRegular.0, 'Sí', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            <div class="form-check">
                                {{ form_widget(form.cicloRegular.1, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.cicloRegular.1, 'No', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            {{ form_errors(form.cicloRegular) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.usoMedicacion, 'Uso de Medicación', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            <div class="form-check">
                                {{ form_widget(form.usoMedicacion.0, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.usoMedicacion.0, 'Sí', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            <div class="form-check">
                                {{ form_widget(form.usoMedicacion.1, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.usoMedicacion.1, 'No', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            {{ form_errors(form.usoMedicacion) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.medicamento, 'Medicamento', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.medicamento, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.medicamento) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.posologia, 'Posología', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.posologia, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.posologia) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.dolor, 'Dolor', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            <div class="form-check">
                                {{ form_widget(form.dolor.0, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.dolor.0, 'Sí', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            <div class="form-check">
                                {{ form_widget(form.dolor.1, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.dolor.1, 'No', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            {{ form_errors(form.dolor) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.intensidadDolor, 'Intensidad del Dolor', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.intensidadDolor, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.intensidadDolor) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.tieneHijos, 'Tiene Hijos', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            <div class="form-check">
                                {{ form_widget(form.tieneHijos.0, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.tieneHijos.0, 'Sí', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            <div class="form-check">
                                {{ form_widget(form.tieneHijos.1, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.tieneHijos.1, 'No', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            {{ form_errors(form.tieneHijos) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.cantidadHijos, 'Cantidad de Hijos', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.cantidadHijos, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.cantidadHijos) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.tipoParto, 'Tipo de Parto', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.tipoParto, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.tipoParto) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.tiempoEntrePartos, 'Tiempo entre Partos (meses)', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.tiempoEntrePartos, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.tiempoEntrePartos) }}
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group mt-3">
                        {{ form_label(form.edadPrimeroParto, 'Edad del Primer Parto', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.edadPrimeroParto, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.edadPrimeroParto) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.edadUltimoParto, 'Edad del Último Parto', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.edadUltimoParto, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.edadUltimoParto) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.citologiaVaginal, 'Citología Vaginal', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            <div class="form-check">
                                {{ form_widget(form.citologiaVaginal.0, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.citologiaVaginal.0, 'Sí', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            <div class="form-check">
                                {{ form_widget(form.citologiaVaginal.1, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.citologiaVaginal.1, 'No', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            {{ form_errors(form.citologiaVaginal) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.primeraColeta, 'Primera Coleta', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.primeraColeta, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.primeraColeta) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.ultimaColeta, 'Última Coleta', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.ultimaColeta, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.ultimaColeta) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.resultadoColeta, 'Resultado de la Coleta', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.resultadoColeta, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.resultadoColeta) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.cancerDeMama, 'Cáncer de Mama', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            <div class="form-check">
                                {{ form_widget(form.cancerDeMama.0, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.cancerDeMama.0, 'Sí', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            <div class="form-check">
                                {{ form_widget(form.cancerDeMama.1, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.cancerDeMama.1, 'No', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            {{ form_errors(form.cancerDeMama) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.fechaCancer, 'Fecha del Cáncer', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.fechaCancer, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.fechaCancer) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.tratamientoCancer, 'Tratamiento del Cáncer', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.tratamientoCancer, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.tratamientoCancer) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.vph, 'VPH', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            <div class="form-check">
                                {{ form_widget(form.vph.0, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.vph.0, 'Sí', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            <div class="form-check">
                                {{ form_widget(form.vph.1, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(form.vph.1, 'No', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            {{ form_errors(form.vph) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.tratamientoVph, 'Tratamiento VPH', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.tratamientoVph, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.tratamientoVph) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-center mt-4 mb-3">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary mx-3">Guardar</button>
                    <a href="{{ path('paciente_ver', {'id': paciente.id}) }}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
