{% extends 'base.html.twig' %}

{% block title %}Nueva Queja Actual{% endblock %}

{% block body %}
<div class="container mt-5 d-flex justify-content-center pt-5">
    <div class="card w-75">
        <div class="card-header text-center">
            <h2>Queja actual</h2>
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            
            <div class="form-group">
                {{ form_label(form.queja, 'Queja', {'label_attr': {'class': 'control-label'}}) }}
                <div class="col-sm-12">
                    {{ form_widget(form.queja, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.queja) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.descripcion, 'Descripci칩n', {'label_attr': {'class': 'control-label'}}) }}
                <div class="col-sm-12">
                    {{ form_widget(form.descripcion, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.descripcion) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.cuandoEmpezo, 'Cu치ndo Empez칩', {'label_attr': {'class': 'control-label'}}) }}
                <div class="col-sm-12">
                    {{ form_widget(form.cuandoEmpezo, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.cuandoEmpezo) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.duracion, 'Duraci칩n', {'label_attr': {'class': 'control-label'}}) }}
                <div class="col-sm-12">
                    {{ form_widget(form.duracion, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.duracion) }}
                </div>
            </div>

            <div class="form-group text-center mt-4">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{{ path('paciente_ver', {'id': paciente.id}) }}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
