<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>SD</text></svg>">
    {% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    
    <style>
        .hover-effect {
            transition: all 0.3s ease-in-out;
        }

        .hover-effect:hover {
            background-color: #28a745; /* Cambiar el color de fondo */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añadir sombra */
        }
        .color {
            color: black;
        }
        .color:hover {
            color: white;
        }
        .bg-customh {
            background-color: #42c9d2;
        }
        .bg-customf {
            background-color: #1db1bc;
        }
        .navbar-brand img {
            max-height: 50px;
            height: auto;
            width: auto;
        }
        /* Estilos para los botones pdf,excel y print */
    .dt-button {
        
        border-color: transparent !important;
        border-radius: 5px !important;
        margin-right: 5px;
    }
   .toolbar .btn-group > .btn {
        margin-right: 0 !important;
    }

    .dt-button:hover {
        opacity: 0.5;
    }

    /* Eliminar los márgenes entre los botones */
    .dt-buttons .btn {
        margin-right: 0 !important;
    }

    /* Estilo personalizado para el botón de Excel */
    .btn-excel {
        background-color: green !important; /* Cambiar el color de fondo a verde oscuro */
        color: white !important; /* Cambiar el color del texto a blanco */
    }

    /* Estilo personalizado para el botón de PDF */
    .btn-pdf {
        background-color: purple !important; /* Cambiar el color de fondo a morado */
        color: white !important; /* Cambiar el color del texto a blanco */
    }

    /* Estilo personalizado para el botón de impresión */
    .btn-print {
        background-color: #00ccff !important; /* Cambiar el color de fondo a azul claro */
        color: white !important; /* Cambiar el color del texto a blanco */
    }
    /* Estilo personalizado para los botones de PDF, Excel y Print */
    .btn-pdf,
    .btn-excel,
    .btn-print {
        margin-right: 0 !important;
    }
    .content {
        flex: 1;
    }
     html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    </style>
    {% endblock %}

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>

    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>

{% block header %}
<nav class="navbar fixed-top bg-customh">
    <div class="container-fluid">
        <a href="http://www.saludata.es" title="Visitar inicio" class="navbar-brand">
            <img src="/images/logo_03.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasNavbarLabel">
                    <a href="http://www.saludata.es" class="text-decoration-none text-dark">Inicio</a>
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                 <ul class="navbar-nav">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item dropdown border-top pt-3">
                            <h5 class="bi bi-door-open-fill d-block mb-3 pb-2 border-bottom"> Bienvenido Dr. {{ app.user.nombre }}</h5>
                            <a class="nav-link dropdown-toggle alert alert-success d-block mb-3 p-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-square mx-2"></i> Area personal
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ path('app_usuarios_index') }}"><i class="bi bi-person-badge mx-2"></i> Ver perfil</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ path('app_usuarios_profile') }}"><i class="bi bi-pencil-square mx-2"></i> Editar perfil</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown border-top pt-3">
                            <a class="nav-link dropdown-toggle alert alert-info d-block mb-3 p-4" href="#" id="navbarDropdownCitas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                               <i class="bi bi-calendar2-date mx-2"></i> Gestionar Citas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownCitas">
                                <li><a class="dropdown-item" href="{{ path('citas_index') }}"><i class="bi bi-calendar4-week mx-2"></i> Calendario de citas </a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown border-top pt-3">
                            <a class="nav-link dropdown-toggle alert alert-primary d-block mb-3 p-4" href="#" id="navbarDropdownPacientes" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-lines-fill mx-2"></i> Gestionar Pacientes
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownPacientes">
                                <li><a class="dropdown-item" href="{{ path('app_perfil') }}"><i class="bi bi-person-lines-fill mx-2"></i> Listado de pacientes</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ path('app_registar_paciente') }}"><i class="bi bi-person-plus mx-2"></i> Registrar nuevo paciente</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown border-top pt-3">
                            <a class="nav-link dropdown-toggle alert alert-danger d-block mb-3 p-4" href="#" id="userManagementDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-toggles mx-2"></i> Gestionar Usuarios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="userManagementDropdown">
                                <li>
                                    <a class="dropdown-item" href="/roles">
                                        <i class="bi bi-person-lock mx-2"></i> Listado de usuarios registrados
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_register') }}">
                                        <i class="bi bi-person-plus mx-2"></i> Registrar nuevo usuario
                                    </a>
                                </li>            
                            </ul>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <form action="{{ path('app_logout') }}" method="post" class="d-block border-top pt-3 text-end">
                                <button type="submit" title="Hacer logout" class="btn btn-outline-secondary text-black alert alert-warning"><i class="bi bi-box-arrow-left"></i> Logout</button>
                            </form>
                            {% else %}
                            <span class="alert alert-success d-block hover-effect">
                                <a class="nav-link text-black" href="{{ path('app_login') }}"><i class="bi bi-box-arrow-in-right"></i> Login</a>
                            </span>
                            {% endif %}
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

 <div class="content">
        {% block body %}
        
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% endblock %}
    </div>


    {% block footer %}
    <div class="footer bg-customf text-white mt-5">
        <div class="container py-3">
            <div class="row">
                <div class="col-12 text-center">
                    © {{ "now"|date("Y") }}  SaluData © Todos los derechos reservados.
                    <span class="ms-2">&#174;</span> 
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
