{% extends 'base.html.twig' %}

{% block title %}Nueva Dieta{% endblock %}

{% block body %}
<div class="container mt-5 d-flex justify-content-center pt-5">
    <div class="card w-50">
        <div class="card-header text-center">
            <h2>Nueva Dieta</h2>
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            <div class="form-group mt-3">
                {{ form_label(form.tipo, 'Tipo (No restrictiva, restrictiva, vegetariana, vegana, etc)', {'label_attr': {'class': 'control-label'}}) }}
                <div class="col-sm-12">
                    {{ form_widget(form.tipo, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.tipo) }}
                </div>
            </div>

            <div class="form-group mt-3">
                {{ form_label(form.frecuencia, 'Frecuencia (comidas/día)', {'label_attr': {'class': 'control-label'}}) }}
                <div class="col-sm-12">
                    {{ form_widget(form.frecuencia, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.frecuencia) }}
                </div>
            </div>

            <div class="form-group mt-3">
                {{ form_label(form.queConsume, 'Descripción de cada comida', {'label_attr': {'class': 'control-label'}}) }}
                <div class="col-sm-12">
                    {{ form_widget(form.queConsume, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.queConsume) }}
                </div>
            </div>

            <div class="form-group text-center mt-4 mb-3">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary mx-3">Guardar</button>
                    <a href="{{ path('paciente_ver', {'id': paciente.id}) }}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
