{% extends 'base.html.twig' %}

{% block title %}Nuevo Medicamento{% endblock %}

{% block body %}
<div class="container mt-5 d-flex justify-content-center pt-5">
    <div class="card w-50">
        <div class="card-header text-center">
            <h2>Nuevo medicamento</h2>
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mt-3">
                        {{ form_label(form.nombre, 'Nombre', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.nombre) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.posologia, 'Posología', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.posologia, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.posologia) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.duracionTratamiento, 'Duración del Tratamiento', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.duracionTratamiento, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.duracionTratamiento) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mt-3">
                        {{ form_label(form.frecuencia, 'Frecuencia', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.frecuencia, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.frecuencia) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.aplicacion, 'Aplicación', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.aplicacion, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.aplicacion) }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form_label(form.prescripcionMedica, 'Prescripción Médica', {'label_attr': {'class': 'control-label'}}) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.prescripcionMedica, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.prescripcionMedica) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-center mt-4 mb-3">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary  mx-3">Guardar</button>
                    <a href="{{ path('paciente_ver', {'id': paciente.id}) }}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
